<footer>
  <nav>
    <ul>
      <li>
        <a href="">
          <img src="." alt="upcoming events" />
        </a>
      </li>

      <li>
        <a href="">
          <img src="" alt="my events" />
        </a>
      </li>

      <li>
        <a href="">
          <img src="" alt="invites" />
        </a>
      </li>
    </ul>
  </nav>
</footer>
