<footer>
  <div class="footer-container">
    <a href=""
      ><img
        src="../../assets/static/img/events/calendar_icon.png"
        alt="calendar_icon"
    /></a>
    <a href=""
      ><img
        src="../../assets/static/img/events/myevents_icon.png"
        alt="my_events"
    /></a>
    <a href=""
      ><img src="../../assets/static/img/events/inbox_icon.png" alt="inbox"
    /></a>
  </div>
</footer>
