<footer>
  <ul>
    <li>
      <a href="../upcoming-events.ejs"
        ><img src="../static/img/events/calendar_icon.png" alt="calendar_icon"
      /></a>
    </li>
    <li>
      <a href="../my-events.ejs"
        ><img src="../static/img/events/myevents_icon.png" alt="my_events"
      /></a>
    </li>
    <li>
      <a href="../invites.ejs"
        ><img src="../static/img/events/inbox_icon.png" alt="inbox"
      /></a>
    </li>
  </ul>
</footer>
