<footer>
  <ul>
    <li>
      <a href=""><img src="images/calendar_icon.png" alt="calendar_icon" /></a>
    </li>
    <li>
      <a href=""><img src="images/myevents_icon.png" alt="my_events" /></a>
    </li>
    <li>
      <a href=""><img src="images/inbox_icon.png" alt="inbox" /></a>
    </li>
  </ul>
</footer>

