<footer>
  <ul>
    <li>
      <a href=""><img src="../static/img/calendar_icon.png" alt="calendar_icon" /></a>
    </li>
    <li>
      <a href=""><img src="../static/img/myevents_icon.png" alt="my_events" /></a>
    </li>
    <li>
      <a href=""><img src="../static/img/inbox_icon.png" alt="inbox" /></a>
    </li>
  </ul>
</footer>