<footer>
  <nav>
    <ul>
      <li>
        <a href="">
          <img
            src="../../assets/static/img/events/calendar_icon.png"
            alt="upcoming events"
          />
        </a>
      </li>

      <li>
        <a href="">
          <img
            src="../../assets/static/img/events/myevents_icon.png"
            alt="my events"
          />
        </a>
      </li>

      <li>
        <a href="">
          <img
            src="../../assets/static/img/events/inbox_icon.png"
            alt="invites"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>
