<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Jeannet Welboren" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (title === 'Welcome to Concert Buddies!') { 
      %> <link rel="stylesheet" href="/css/home.styles.css"> 
  <% } %> 

    <% if (title === 'Add artists') { 
      %> <link rel="stylesheet" href="/css/addartists.styles.css"> 
  <% } %> 

  <link rel="icon" type="image/x-icon" href="/static/faviconCB.png">
  </head>

