<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Jeannet Welboren" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Concert buddies</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (title === 'Add artists') { 
      %> <link rel="stylesheet" href="/css/addartists.styles.css"> 
  <% } %> 
  </head>

