<%- include('./partials/header') %>

<!-- Error page -->
<body id="error">
  <main>
    <section>
      <img width="30%" src="static/error.svg" />
      <h1>404</h1>
      <p>Page not found on the server</p>
    </section>
  </main>
</body>
