<%-include('partials/head.ejs')%>
  <body class="page2">
    <%-include('partials/header.ejs')%>
    <main>
      <div id="spread"></div>
      <h2>Kendrick lamar: Mr Morale and the Big Steppers tour</h2>

      <p>
        Kendrick Lamar, born on June 17, 1987, is an influential hip-hop artist
        from Compton, California. Known for his lyrical prowess and storytelling
        ability, Lamar's albums like "good kid, m.A.A.d city," "To Pimp a
        Butterfly," and "DAMN." have received critical acclaim. He tackles
        themes of identity, race, and inequality through vivid imagery and
        thought-provoking metaphors.
      </p>
      <p>
        Lamar's captivating live performances and his active involvement in
        social and political activism have further solidified his impact. With
        multiple Grammy Awards and a Pulitzer Prize, Lamar has become a
        visionary artist and a cultural icon, using his music to address
        important issues and shape the hip-hop landscape.
      </p>

      <p>
        Experience the unstoppable energy and lyrical genius of Kendrick Lamar
        on his highly anticipated Big Steppers Tour! Join us for an electrifying
        night as Lamar takes the stage, delivering unforgettable performances of
        his iconic hits. Get ready to witness the brilliance of one of hip-hop's
        greatest artists in a tour like no other.
      </p>

      <h2>Attending</h2>
      <div id="closingstatement">
        <div class="attending">
          <p>Total: 300+</p>
        </div>

        <div class="attending">
          <p>Contacts: 8</p>
        </div>
      </div>
    </main>
     <noscript>
      <!-- Fallback content for users without JavaScript -->
      <p>Please enable JavaScript to view the content.</p>
      </noscript>
    
    <%-include('partials/footer.ejs')%>
   
  </body>
</html>

