<%- include('./partials/header') %>

<body>
  <main>
    <!-- Genres -->
    <section id="selectGenres">
      <span>4/4</span>
      <h1>Add your favorite genres</h1>
    
      <form>
        <fieldset>
          <legend>Fill in the about me below</legend>
            <ul>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
                <li>
                  <input type="checkbox" id="genre" name="genre" >
                  <label for="genre">Genre 1</label>
                </li>
            </ul>

            <a href="/profile">Next</a>
          </fieldset>
        </form>
    
    </section>
  </main>
  <script src="js/genres.js"></script>
</body>
</html>
