<%- include('./partials/header') %>

<body id="homePage">
  <main>
    <section>
      <img width="100%" src="static/logo-cb.svg" />

      <a href="/personal-info"> Create profile</a>
    </section>
  </main>
</body>
</html>