<%- include('./partials/head') %>

<body>
    <main>

        <section>
            <img src="../static/faviconCB.png" alt="Concert Buddies logo">
            <h1>Concert Buddies</h1>
            <p>Discover people with the same music taste</p>
        </section>

            <nav>
                <ul>
                    <li>
                        <a href="/new-profile">Create profile</a>
                    </li>
                    <li>Log in</li>
                </ul>
            </nav>
    </main>
</body>
</html>