<%- include('./partials/head') %>

<body>
    <header>

    </header>
    <main>
        <section>
            <h1>Invites</h1>
            <section>
                <h2>New</h2>
                <ul>
                    <li>Hi! I am "NAME"! </li>
                    <li>Do you want to go to Event2 with me?</li>
                    <li><img src="../static/img/profilepic/serenoiia.jpg" alt="profielfoto"></li>
                    <li>
                        <ul>
                            <li><a href="">Event info</a></li>
                            <li><a href="">Ignore</a></li>
                            <li><a href="">Accept</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>Send phone</li>
                            <li>Send mail</li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Waiting for acceptation</h2>
            </section>

            <section>
                <h2>Pending</h2>
            </section>
        </section>
        
    </main>

    <%- include('./partials/footer') %>

</body>
</html>