<%- include('./partials/header') %>

<!-- Create Profile -->
<body>
  <main id="container">
    <section>
      <span>1/4</span>
      <img width="100%" src="static/img/profiel-aanmaken.jpg" />
      <form action="/upload-picture" method="post">
        <h1>Create Profile</h1>

        <p>Welcome at Concert Buddies!</p>
        <p>
          Create your profile and find other people with amazing music taste
        </p>
        
        <fieldset>
          <legend>Fill in the info below</legend>
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            autocomplete="off"
            required
          />
        </div>

        <div>
          <label for="age">Age </label>
          <input type="date" id="age" name="age" max="2006-12-31" autocomplete="off" required />
        </div>

        <div>
          <label for="phone">Number </label>
          <input
            type="tel"
            id="phone"
            name="tel"
            placeholder="0612345678"
            autocomplete="off"
            required
          />
        </div>
        <input type="submit" value="Next" />
      </fieldset>
      </form>
    </section>
  </main>
</body>
