<%-include('partials/head.ejs')%>
  <body>
    <%-include('partials/header.ejs')%>
    <main>
      

      <h2>June</h2>

      

      <div class="ticket" id="ticketKENDRICK">
        <div class="date">
          <p>12</p>
        </div>
        <a href="./event-details">
          <div class="eventDetails">
            <h3>Kendrick Lamar</h3>
            <p>Paradiso</p>
            <p>300+ going</p>
            <p>8 contacts going</p>
            <p class="status">Status: attending</p>
            <label class="toggle-button">
              <input class="toggle" type="checkbox" checked />
              <span class="slider"></span>
            </label>
          </div>
        </a>
      </div>

      <div class="ticket" id="ticketDOJA">
        <div class="date">
          <p>21</p>
        </div>
        <div class="eventDetails">
          <h3>Doja cat</h3>
          <p>Melkweg</p>
          <p>300+ going</p>
          <p>12 contacts going</p>
          <p class="status">Status: attending</p>
          <label for="dojacat" class="toggle-button">
            <input id="dojacat" name="doja" class="toggle" type="checkbox" checked />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      

      <h2>August</h2>

      <div class="ticket" id="ticketDRAKE">
        <div class="date">
          <p>04</p>
        </div>
        <div class="eventDetails">
          <h3>Drake</h3>
          <p>Ziggo dome</p>
          <p>500+ going</p>
          <p>7 contacts going</p>
          <p class="status">Status: attending</p>
          <label class="toggle-button">
            <input class="toggle" type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
   

    <div class="ticket" id="ticketSZA">
      <div class="date">
        <p>12</p>
      </div>
      <div class="eventDetails">
        <h3>SZA</h3>
        <p>Ziggo dome</p>
        <p>400+ going</p>
        <p>5 contacts going</p>
        <p class="status">Status: attending</p>
        <label class="toggle-button">
          <input class="toggle" type="checkbox"  />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </main>
  
     
    <%-include('partials/footer.ejs')%>
  <script src="../js/my-events.js"></script>
  <noscript>
    <!-- Fallback content for users without JavaScript -->
    <p>Please enable JavaScript to view the content.</p>
    </noscript>
  </body>
</html>

