<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CB_my_events</title>
  </head>
  <body>
    <header>
      <h1>My Events</h1>
      <a href="">Profile</a>
      <p>Invite you have accepted</p>
    </header>
    <main>
        <h2>June</h2>
        <div id="ticket container">
            <div class="date sides"></div>
            <p>04</p>
            <div class="event sides"></div>
            
        </div>



    </main>
    <footer>

    </footer>
  </body>
</html>
