<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <link rel="stylesheet" href="/css/upcoming-events.css">

</head>
<body>
    <section class="grid-container">
        <section class="grid-item"><button>Populair </button></section>
        <section class="grid-item"> <button> Alles deze maand </button></section>
        <section class="featured">        <div class="text-container"> <h1>Burna boy Love Damini</h1> <h2>Rotterdam | 10 juni 2023 | Ahoy</h2>     <button class="plus-button">+</button>
        </section>
        <section class="grid-item"> <h1> Kalender </h1></section>
<input type="date" id="datepicker" name="datepicker">
        </div> </section>
        <section class="grid-container">
          <section class="featured">        <div class="text-container"> <h1>Burna boy Love Damini</h1> <h2> Rotterdam </h2><h2>10 juni 2023</h2><h2>Ahoy</h2>    <button class="plus-button">+</button>
          </section>
          
        


          <script src="js/upcoming-events.js"></script>
</body>
</html>
