<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/css/upcoming-events.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upcoming Events</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="grid-container">
      <section class="grid-item"><button>Populair </button></section>
      <section class="grid-item"> <button> Deze maand </button></section>    <h1>Burna boy Love Damini</h1> <h2>Rotterdam | 10 juni 2023 | Ahoy</h2>     <button class="plus-button">+</button>
      </section>
      <section class="grid-item"> <h1> Kalender </h1></section>
<input type="date" id="datepicker" name="datepicker">
      </div> </section>
      <section class="grid-container">         <h1>Burna boy Love Damini</h1> <h2> Rotterdam </h2><h2>10 juni 2023</h2><h2>Ahoy</h2>    <button class="plus-button">+</button>
        </section>
        
      


        <script src="js/upcoming-events.js"></script>
  </body>
</html>





