<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <link rel="stylesheet" href="/css/upcoming-events.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/slider.css"> <!-- Add a separate CSS file for slider styles -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <div id="slider-container" class="scroll-container">
      <div class="step-indicator">
      <section class="hero scroll-item">
        <section>
          <h1> Populair in </h1>
          <h1>Juni</h1>
        </section>
        <section>
          <h2>Burna boy Love Damini</h2>
          <h3>Rotterdam</h3>
          <h3>10 juni 2023</h3>
          <h3>Ahoy</h3>
        </section>
        <section>
          <h3>15</h3>
          <h3>Deelnemers</h3>
          <button>Meer informatie ></button>
        </section>
      </section>
      <!-- Add more hero sections as needed -->
           <section class="hero scroll-item">
        <section>
          <h1> Populair in </h1>
          <h1>Juni</h1>
        </section>
        <section>
          <h2>Burna boy Love Damini</h2>
          <h3>Rotterdam</h3>
          <h3>10 juni 2023</h3>
          <h3>Ahoy</h3>
        </section>
        <section>
          <h3>15</h3>
          <h3>Deelnemers</h3>
          <button>Meer informatie ></button>
        </section>
      </section>

            <!-- Add more hero sections as needed -->
            <section class="hero scroll-item">
              <section>
                <h1> Populair in </h1>
                <h1>Juni</h1>
              </section>
              <section>
                <h2>Burna boy Love Damini</h2>
                <h3>Rotterdam</h3>
                <h3>10 juni 2023</h3>
                <h3>Ahoy</h3>
              </section>
              <section>
                <h3>15</h3>
                <h3>Deelnemers</h3>
                <button>Meer informatie ></button>
              </section>
            </section>



  </main>

  <script src="js/upcoming-events.js"></script>
  <script src="js/slider.js"></script> <!-- Add a separate JavaScript file for slider functionality -->
</body>
</html>
