<!DOCTYPE html>
<html>
<head>
  <title>Upcoming Events</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">Populair</div>
        <div class="grid-item">Alles deze maand</div>


<style>
    .body {
        font-family:
    }
.grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .grid-item {
      background-color: lightgray;
      padding: 20px;
      text-align: center;
    }
</style>
</body>
</html>
