section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    margin-top: 1.3em;
}


input, textarea {
    margin-top: .6em;
    padding: 1em;
    border: 2px solid var(--main);
    background-color: var(--input);
    color: var(--text);
    border-radius: 10em;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
}

textarea#about  {
    border-radius: 0.5em;
}


/* Code for Select artists/bands page */
ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .5em 1fr .5em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5em;
    margin-top: 1.3em;
    max-height: 58vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
    border-radius: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: .5em;
}

li img {
    height: 5em;
    margin: 0;
}

li p {
    font-size: 0.85em;
    margin-top: 0.4em;
}

.selected {
    background-color: var(--accent1);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.selected p {
    color: var(--light)
}

.selected img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid var(--accent1);
}


/* Code for profile picture page */
#profilePicture form label {
    background-color: var(--light);
    height: 80vw;
    width: 80vw;
    margin: auto;
    margin-top: 2em;
    border-radius: .5em;
    -o-object-fit: cover;
       object-fit: cover;
}

#profilePicture form label input {
    display: none;
}

#profilePicture img {
    height: 100%;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
}

noscript p{
    color: darkred;
    font-style: italic;
    margin-top: 1em;
    text-align: center;
}


/* Code for profile page */
#yourProfile section:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#yourProfile img {
    width: 7em;
    height: 7em;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1em;
}

#yourProfile section:nth-of-type(2) {
    background-color: var(--light);
    padding: 2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    border-radius: 0.5em;
}

#yourProfile section:nth-of-type(2) p:first-of-type {
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--main);
}

#embedIframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    overflow: scroll;
}

/* Code for Error page */

#error h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#error p {
    text-align: center;
}

#error section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack :center;
        -ms-flex-pack :center;
            justify-content :center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    min-height: 100vh;
    margin: 0;
}

legend {
    visibility: hidden;
}