* {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
    
}

:root {
    --text: #FAFBFB;
    --input: #2B2936;
    --placeholder: #5F5E66;
    --accent1: #6862C8;
    --accent1dark: #322F54;
    --accent2: #DA6864;
    --accent2dark: #63383E;
    --background: #1F1D2A;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;900&display=swap');

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1em;
}

main > section {
    margin: 1.8em;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    color: var(--text);
    margin: 0;
    line-height: 1.4em;
}

span {
    color: var(--accent2dark);
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: .3em;
}

span::first-letter {
    color: var(--accent2);
}

img {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}



input:focus-visible, textarea:focus-visible {
    outline: 2px solid var(--accent1);
    background-color: var(--light);
}

input::-webkit-input-placeholder {
    color: var(--placeholder);  
    font-weight: 400;
}

input::-moz-placeholder {
    color: var(--placeholder);  
    font-weight: 400;
}

input:-ms-input-placeholder {
    color: var(--placeholder); 
    font-weight: 400;
}

input::-ms-input-placeholder {
    color: var(--placeholder);  
    font-weight: 400;
}

input::placeholder {
    color: var(--placeholder); 
    font-weight: 400;
}

button[type=submit], a {
    display: -ms-grid;
    display: grid;
    margin-left: auto;
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
    border-radius: .5em;
    background-color: var(--accent1);
    border: none;
    color: white;
    font-size: 1em;
    width: 9em;
    padding: 0.6em 0; 
}

fieldset {
    border: none;
}

/*header code */
header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    align-items: center;
    padding: 1.3em 1.8em;
    background-color: var(--input);
}
  
header img {
    margin: 0;
}
  
header a{
    background-color: transparent;
    width: auto;
    padding: 0;
    margin: 0;
}


/* Code for Error page */
#error h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#error p {
    text-align: center;
}

#error section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack :center;
        -ms-flex-pack :center;
            justify-content :center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    min-height: 100vh;
    margin: 0;
}

/* Notification */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f8f8f8;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
}

.notification a {
    background:transparent;
    width:fit-content;
    color:var(--background);
    padding:0;
    margin:0;
}
  
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

  
  
  
  
  
  