@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
row-gap: 15%;
justify-items: center;
background-image: url('../static/img/events/burna-boy-hero.jpeg');
background-size: cover;
height: 100vh;
margin: 0;

}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as desired */
  z-index: 1; /* Move the overlay behind the text */

}

.hero section {
  position: relative; /* Add position: relative to the sections */
  z-index: 2; /* Move the text in front of the overlay */
}

main h1 {
font-size: 1.9em;
font-weight: 100;
}

main h1:nth-of-type(2) {
font-weight: 500;
  }

main h2 {
  font-size: 1.4em;
  font-weight: 500;
  }

main h3 {
  font-size: 0.9em;
  font-weight: 400;
  }

.hero section:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
}

.hero section:nth-of-type(3) {
  grid-row: 3;
align-self:last baseline;

}

.hero section:nth-of-type(3) h3 {
  display: inline;
}




button, .hero-cta {
  display: grid;
  grid-row: 3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #ffffff;
  cursor: pointer;
  z-index: 1; /* Move the overlay behind the text */
  align-items: end;
  text-decoration: none;
  font-weight: 500;

}


.scroll-item section:nth-of-type(2) {
position: relative;
top: 50%;
}

.scroll-item section:nth-of-type(3) {
  position: relative;
  top: 36.5%;
  left: 50%;
  }





.scroll-container {
  display: flex;
  scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Keep scroll items in a single line */
  width: 100%; /* Set the width to 100% to take the full available space */
  height: auto; /* Remove fixed height to adjust based on content */
}



.scroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as desired */
  z-index: 1; /* Move the overlay behind the text */
}


section.calendar .flatpickr-calendar {

  /* Exclude properties defined in :root */
  --text: initial;
  --input: initial;
  --placeholder: initial;
  --accent1: initial;
  --accent1dark: initial;
  --accent2: initial;
  --accent2dark: initial;
  --background: initial;
}


.scroll-item {
  scroll-snap-align: start;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background-size: cover;
  position: relative;
}

.scroll-item section {
  margin: 10%;
  position: relative;
  z-index: 2;
}

.scroll-item h1 {
  font-size: 1.9em;
  font-weight: 100;
}

.scroll-item h1:nth-of-type(2) {
  font-weight: 500;
}

.scroll-item h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.scroll-item h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.scroll-item section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

.scroll-item section:nth-of-type(3) {
  grid-row: 3;
  align-self: last baseline;
}

.scroll-item section:nth-of-type(3) h3 {
  display: inline;
}

.calendar h1 {
  text-align:center;
  font-weight: 400;
}

.event-card {
grid-template-columns: 1fr 1fr;
margin: 2% 2% 10% 2%;
background-color: #322F54;
padding: 5%;
border-radius: 0.5em;


}

.event-card p:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1
}

.event-card p:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.event-card p:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

.event-card button {
  grid-column: 2;
  grid-row: 1;
}






