@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Styling for the hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 0.9em;
  justify-items: center;
  background-image: url("../static/img/events/burna-boy-hero.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

a.hero-cta {
  width: auto;
}

/* Overlay for the hero section */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Styling for sections within the hero section */
.hero section {
  position: relative;
  z-index: 2;
}

/* Styling for heading elements within main */
main h1 {
  font-size: 1.9em;
  font-weight: 100;
}

main h1:nth-of-type(2) {
  font-weight: 500;
}

main h2 {
  font-size: 1.4em;
  font-weight: 500;
}

main h3 {
  font-size: 0.9em;
  font-weight: 400;
}

/* Specific styling for sections within the hero section */
.hero section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

.hero section:nth-of-type(3) {
  grid-row: 3;
  align-self: last baseline;
}

.hero section:nth-of-type(3) h3 {
  display: inline;
}

/* Styling for the "Select a date" input field */
#myDatePicker {
  padding: 0.3em;
  border: 0.1em solid #383744;
  border-radius: 0.2;
  font-size: 1em;
  background-color: transparent;
  color: #333;
  max-width: 50%;
  margin: 4% 0 4% 0;
  font-size: 0.9;
  color: #ffffff;
  margin-left: 0.1em;
}

section.calendar #myDatePicker {
  width: 100%;
}

/* Styling for buttons and hero-cta */
button,
.hero-cta {
  display: grid;
  grid-row: 3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
  align-items: flex-end;
  text-decoration: none;
  font-weight: 500;
}

#slider-container {
  margin: 0;
}

/* Styling for scroll items within the slider container */
.scroll-item section:nth-of-type(2) {
  position: relative;
  top: 55%;
}

.scroll-item section:nth-of-type(3) {
  position: relative;
  top: 43.5%;
  left: 50%;
}

/* Styling for the scroll container */
.scroll-container {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: auto;
}

/* Overlay for scroll items */
.scroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Styling for the calendar section */
section.calendar {
  overflow-y: hidden;
}

section.calendar .flatpickr-month {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  margin: 1em;
  font-size: 0.8em;
}

section.calendar span.flatpickr-weekday {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

section.calendar .flatpickr-days {
  background-color: transparent;
}

section.calendar .flatpickr-day {
  color: #ffffff;
  font-size: 0.9em;
}

section.calendar .flatpickr-day.today {
  background-color: #6862c8;
  border: none;
}

section.calendar .flatpickr-day.selected {
  background-color: #322f54;
  border: none;
}

/* Custom styles for the Flatpickr datepicker */
section.calendar .flatpickr-calendar {
  box-shadow: none;
  background-color: transparent;
  border: 0.1em solid #383744;
  --text: initial;
  --input: initial;
  --placeholder: initial;
  --accent1: initial;
  --accent1dark: initial;
  --accent2: initial;
  --accent2dark: initial;
  --background: initial;
}

section.calendar .flatpickr-calendar:after {
  border: 0;
}

/* Styling for scroll items */
.scroll-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background-size: cover;
  position: relative;
}

/* Styling for sections within scroll items */
.scroll-item section {
  margin: 1.6em;
  position: relative;
  z-index: 2;
}

/* Styling for heading elements within scroll items */
.scroll-item h1 {
  font-size: 1.9em;
  font-weight: 100;
}

.scroll-item h1:nth-of-type(2) {
  font-weight: 500;
}

.scroll-item h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.scroll-item h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.scroll-item section:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

.scroll-item section:nth-of-type(3) {
  grid-row: 3;
  align-self: last baseline;
}

.scroll-item section:nth-of-type(3) h3 {
  display: inline;
}

/* Styling for the calendar heading */
.calendar h1 {
  text-align: center;
  font-weight: 400;
}

/* Styling for event cards */
.event-card {
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5em;
  background-color: #322f54;
  padding: 1em;
  border-radius: 0.3em;
}

.event-card p:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

.event-card p:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.event-card p:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

.event-card button {
  grid-column: 2;
  grid-row: 1;
}
